/****************************/
/** Screen 1 **/
/****************************/


#grad{
	background: #0b0b1f; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(right,#0b0b1f , #100612); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #0b0b1f , #100612); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #0b0b1f , #100612); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #0b0b1f , #100612); /* Standard syntax */
}

#imageHeader{
  margin-left: 45.00%;
  margin-top: 5.00%;
  /*padding-right: 49.00% ;
  padding-bottom: 1167.00% ;*/
}

/* Le parent 
.videoWrapper {
position: relative;
padding-bottom: 56.25%; 
padding-top: 25px;
height: 0;
}
/* L'enfant 
.videoWrapper #videoMain {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}*/
